/* Main content styling */
main {
  padding-top: 100px; /* Adjust according to header height */
  padding-left: 250px; /* Adjust according to sidebar width */
  overflow-y: auto;
}

.main-title {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.admin-panel {
  background-color: #fff;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}